main {
  @include flex(column, center, center);
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10vw auto;
  width: 90%;
  max-width: 1400px;
  padding: 4rem 2rem;
  border-radius: 2rem;
  i,
  svg {
    pointer-events: none;
  }
}

.sequencer {
  @include flex(column, space-around, center);
  width: 100%;
}

.track {
  @include flex(row, space-between, space-between);
  align-self: center;
  width: 100%;
  margin: 2rem auto;
  flex-wrap: nowrap;
}

.controls {
  @include flex(row, space-between, center);
  flex: 1 1 15rem;
  flex-wrap: nowrap;
  h1,
  button,
  select {
    margin: 0.5rem 1vw;
  }
}

.kick-track select:hover {
  border: solid 2px $color1;
}

.snare-track select:hover {
  border: solid 2px $color2;
}

.hihat-track select:hover {
  border: solid 2px $color3;
}

.pads {
  @include flex(row, space-around, center);
  flex-wrap: nowrap;
  margin: 0.5rem 1vw;
  flex: 1 1 15rem;
}

.pad {
  width: calc(1rem + 4vw);
  height: calc(1rem + 4vw);
  margin: 0.2vw;
  cursor: pointer;
  transition: all 0.2s ease;
}

.kick-pad {
  background-color: $color1a;
  &:hover,
  &:active {
    background-color: $color1;
  }
}
.snare-pad {
  background-color: $color2a;
  &:hover,
  &:active {
    background-color: $color2;
  }
}
.hihat-pad {
  background-color: $color3a;
  &:hover,
  &:active {
    background-color: $color3;
  }
}
