/*======= MEDIA QUERY ===========*/
@media (max-width: 910px) {
  /*======= ================= ===========*/
  .track {
    flex-direction: column;
  }

  .pads,
  .controls {
    flex: 1 1 5rem;
  }
  /*======= ================== ===========*/
}

@media (max-width: 720px) {
  /*======= ================= ===========*/
  footer {
    text-align: center;
    justify-content: center;
  }
  /*======= ================== ===========*/
}
