$color1: #28a297;
$color1a: #9bdbd5;
$color2: #ffe600;
$color2a: #f3f0bc;
$color3: #b21773;
$color3a: #e59ec8;
$dark: #220423;
$medium: #5f1957;
$white: #fff;
$gradient: linear-gradient(to right bottom, #83bfb9, #fdf794, #e59ec8);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

/*======= GLOBAL STYLES ===========*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: $dark;
  font-size: calc(1.5rem + 0.5vw);
  background: black url("../img/beatmaker-bg.jpg") no-repeat center;
  background-size: cover;
  @include flex(row, space-beetween, center);
  font-family: "Nunito Sans", sans-serif;
}

button {
  background-color: $dark;
  border: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 2rem;
  font-size: calc(1.5rem + 0.5vw);
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background: $gradient;
    color: $dark;
  }
  .mute {
    border-radius: 50%;
    font-size: calc(0.5rem + 0.5vw);
    padding: 0.1em;
    i {
      margin: 0;
      padding: 0;
    }
  }
}

select {
  background-color: white;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 2rem;
  font-size: calc(1.2rem + 0.5vw);
  border: solid 2px black;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.5s ease;
}

a,
a:visited {
  color: $white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover,
a:focus,
a:link:active,
a:visited:active {
  color: $color1a;
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: calc(1.5rem + 1.5vw);
  text-transform: uppercase;
}

/*================================*/

@import "main";
@import "footer";
@import "responsive";
@import "animations";
