/*======= GLOBAL STYLES ===========*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: #220423;
  font-size: calc(1.5rem + 0.5vw);
  background: black url("../img/beatmaker-bg.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-beetween;
      -ms-flex-pack: space-beetween;
          justify-content: space-beetween;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Nunito Sans", sans-serif;
}

button {
  background-color: #220423;
  border: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 2rem;
  font-size: calc(1.5rem + 0.5vw);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#83bfb9), color-stop(#fdf794), to(#e59ec8));
  background: linear-gradient(to right bottom, #83bfb9, #fdf794, #e59ec8);
  color: #220423;
}

button .mute {
  border-radius: 50%;
  font-size: calc(0.5rem + 0.5vw);
  padding: 0.1em;
}

button .mute i {
  margin: 0;
  padding: 0;
}

select {
  background-color: white;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 2rem;
  font-size: calc(1.2rem + 0.5vw);
  border: solid 2px black;
  font-family: "Nunito Sans", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a:hover,
a:focus,
a:link:active,
a:visited:active {
  color: #9bdbd5;
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: calc(1.5rem + 1.5vw);
  text-transform: uppercase;
}

/*================================*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10vw auto;
  width: 90%;
  max-width: 1400px;
  padding: 4rem 2rem;
  border-radius: 2rem;
}

main i,
main svg {
  pointer-events: none;
}

.sequencer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  margin: 2rem auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.controls h1,
.controls button,
.controls select {
  margin: 0.5rem 1vw;
}

.kick-track select:hover {
  border: solid 2px #28a297;
}

.snare-track select:hover {
  border: solid 2px #ffe600;
}

.hihat-track select:hover {
  border: solid 2px #b21773;
}

.pads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0.5rem 1vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
}

.pad {
  width: calc(1rem + 4vw);
  height: calc(1rem + 4vw);
  margin: 0.2vw;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.kick-pad {
  background-color: #9bdbd5;
}

.kick-pad:hover, .kick-pad:active {
  background-color: #28a297;
}

.snare-pad {
  background-color: #f3f0bc;
}

.snare-pad:hover, .snare-pad:active {
  background-color: #ffe600;
}

.hihat-pad {
  background-color: #e59ec8;
}

.hihat-pad:hover, .hihat-pad:active {
  background-color: #b21773;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 2rem;
  font-size: calc(1rem + 0.5vw);
  min-height: 5vh;
  margin-top: auto;
  background-color: #220423;
  color: #fff;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

footer i {
  margin: 0 1rem;
}

/*======= MEDIA QUERY ===========*/
@media (max-width: 910px) {
  /*======= ================= ===========*/
  .track {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pads,
  .controls {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 5rem;
            flex: 1 1 5rem;
  }
  /*======= ================== ===========*/
}

@media (max-width: 720px) {
  /*======= ================= ===========*/
  footer {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*======= ================== ===========*/
}

.animated-pad {
  -webkit-animation: animated-pad 0.2s ease alternate 2;
          animation: animated-pad 0.2s ease alternate 2;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes animated-pad {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes animated-pad {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.active-pad {
  border: solid 2px black;
}

.kick .active-pad {
  background-color: #28a297;
}

.snare .active-pad {
  background-color: #ffe600;
}

.hihat .active-pad {
  background-color: #b21773;
}
/*# sourceMappingURL=style.css.map */